# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.idea
*.DS_Store
/.DS_Store
# Environments
.DS_Store
.env
new_db
.venv
env/
/__pycache__/
db.sqlite3
*__pycache__
 places/__pycache__/
 static/.DS_Store
media/img/.DS_Store
media/.DS_Store
afisha/__pycache__/
media